#Project files
Build/
build/

#JLink log file
JLinkLog.txt

#C++.gitignore
#https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore
# Compiled Object files
 *.slo
 *.lo
 *.o

# # Compiled Dynamic libraries
 *.so

# # Compiled Static libraries
 *.lai
 *.la
 *.a

#https://github.com/github/gitignore/blob/master/Global/CVS.gitignore
 /CVS/*
 */CVS/*
 .cvsignore
 */.cvsignore

.svn/
.hg

#https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# CDT-specific
 .cproject

#https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp

#https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
.*
!.gitignore
*~
*.sw[a-p]

# KDE
.directory

#https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
Icon?
profile

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#https://github.com/github/gitignore/blob/master/Global/Tags.gitignore
# Ignore tags created by etags and ctags
TAGS
tags

#https://github.com/github/gitignore/blob/master/Global/Vi.gitignore
*.swp
*.swo

#https://github.com/github/gitignore/blob/master/Global/vim.gitignore
.*.sw[a-z]
*.un~
Session.vim

#https://github.com/github/gitignore/blob/master/Global/VisualStudio.gitignore
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user

# Build results
_build/
Debug*/
debug*/
Release*/
release*/
*_i.c
*_p.c
*.ilk
*.meta
*.Obj
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

# Visual Studio profiler
*.psess
*.vsp

# ReSharper is a .NET coding add-in
_ReSharper*

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish

# Others
Bin
#bin
Obj
obj
sql
TestResults
*.Cache
*.cache
ClientBin
stylecop.*
~$*
*.dbmdl
Generated_Code #added for RIA/Silverlight projects

#Stack Overflow additions to Visual Studio files
*.exe
*.vssscc
*_i.c
*_p.c
*.log
*.lib
obj/
Bin
bin
Debug*/
debug*/
Release*/
release*/

# Additions to IAR files
*.dep
settings
Exe
List
Obj

#https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# Windows image file caches
Thumbs.db
thumbs.db

# Folder config file
Desktop.ini

#https://github.com/github/gitignore/blob/master/Python.gitignore
*.pyc
*.pyo

# Packages
*.egg
*.egg-info
dist
eggs
parts
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Xcode
*.mode1
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata
*.xcworkspace/
# Generated files
VersionX-revision.h
# automatic backup files
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/
*.tm_build_errors
